.header__signin {
    background: #2BE080;
    border-radius: 3px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .header__signin {
        height: 26px;
        width: 54px;
        font-size: 10px;
        }
}