.profile__nav-edit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    color: #000000;
    background: none;
    border: none;
}

.profile__nav-edit:hover {
    cursor: pointer;
}

.profile__nav-edit_disabled {
    opacity: 0.2;
}