.tech__blocks {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

@media screen and (max-width: 767px) {
    .tech__blocks {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 84px);
    }
}