.profile__nav-exit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    text-decoration: none;
    background: none;
    border: none;
}

.profile__nav-exit:hover {
    cursor: pointer;
}
