.searchForm__checkbox-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .searchForm__checkbox-text {
        font-size: 11px;
        line-height: 18px;
    }
}