.moviesCardList__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 364px);
    margin: 70px 0 50px 0;
    grid-gap: 37px 24px;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .moviesCardList__cards {
        grid-template-columns: repeat(auto-fill, 339px);
        grid-gap: 30px 30px;
    }
}

@media screen and (max-width: 767px) {
    .moviesCardList__cards {
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 14px;
        margin: 0;
    }
}