.header__burger-list {
    position: absolute;
    width: 340px;
    padding: 159px 90px 92px 90px;
    right: 0;
    top: 0;
    background: #FFFFFF;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    display: none;
    flex-direction: column;
    margin: 0;
}