.header__signin-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .header__signup-text {
        font-size: 10px;
        line-height: 16px;
        height: 26px;
    }
}