.profile__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 220px 0 70px 0;
}

@media screen and (max-width: 1279px) {
    .profile__nav {
        padding: 210px 0 269px 0;
    }
}

@media screen and (max-width: 1279px) {
    .profile__nav {
        padding: 379px 0 40px 0;
    }
}