.search-form__form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(232, 232, 232, 0.7);
    padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
    .search-form__form {
        padding-bottom: 9px;
    }
}