.project__scale-text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .project__scale-text {
        font-size: 11px;
        line-height: 13px;
    }
}