.checkbox {
    width: 36px;
    height: 20px;
    cursor: pointer;
    display: block;
    position: relative;
}

.checkbox__checkbox {
    display: none;
}

.checkbox__slider {
    position: relative;
    top: 0;
    left: 0;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #ebebeb;
    transition: 0.4s;
    display: block;
}

.checkbox__slider:before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 4px;
    left: 6px;
    top: 6px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox__checkbox_active~.checkbox__slider {
    background-color: #2be080;
}

.checkbox__checkbox_active~.checkbox__slider:before {
    transform: translateX(16px);
}

@media screen and (min-width: 540px) {
    .checkbox__label {
        font-size: 13px;
    }
}