.student__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    list-style-type: none;
}

@media  screen and (max-width: 1279px) {
    .student__text {
        font-size: 12px;
        line-height: 18px;
    }
}